<!doctype html>
<html>
<head>
    <title>Add Book</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>Add Book</h1>
<a href="{{ url_for('index') }}">Home</a>
<form method="post">
    <label>Title: <input type="text" name="title" required></label><br>
    <label>Author: <input type="text" name="author" required></label><br>
    <label>Price: <input type="number" step="0.01" name="price" required></label><br>
    <label>Published Date: <input type="date" name="published_date" required></label><br>
    <input type="submit" value="Add Book">
</form>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
    {% for msg in messages %}
      <li>{{ msg }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
</body>
</html>

